[data-tab-content] {
    display:none;
}
.active[data-tab-content]{
    display: block;
}


body { 
    padding: 0;
    margin: 0;
    color: #ccc;

}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    
    background-color: black;

}
.tab{
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border: 2px;
    outline-color:white;
    outline-style:solid;
}

.tab.active{

    background-color: #77a8a8;
    color: #3e4444;
}
.tab:hover{

    background-color: #c0ded9;
    color: #3e4444;
}



#container{
    min-height: 100vh;
    display: flex;
    text-align: center;
}
.left {

    width: 50vw;
    background-color:#3e4444;

}
.right {

    width: 50vw;
    background-color:#3e4444;

}

.containerBot{
    min-height: 600px;
    display: flex;
    text-align: center;
}


.botLeft{
    width: 33vw;
}
.botMid{
    width: 33vw;
}
.botRight{
    width: 33vw;
}

#addWorkerButton{

  cursor: pointer;
  outline: none;
  border: none;
  background-color: #009879;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  
  box-shadow: #29516e;
  
}

#DeleteWorkerButton{

    cursor: pointer;
    outline: none;
    border: none;
    background-color: #980000;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    
    box-shadow: #6e2929;
    
  }
  #EditWorkerButton{

    cursor: pointer;
    outline: none;
    border: none;
    background-color: #210098;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    
    box-shadow: #210098;
    
  }

  #addCompButton{

    cursor: pointer;
    outline: none;
    border: none;
    background-color: #009879;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    
    box-shadow: #29516e;
    
  }
  
  #DeleteCompButton{
  
      cursor: pointer;
      outline: none;
      border: none;
      background-color: #980000;
      width: 220px;
      height: 50px;
      border-radius: 30px;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--text);
      
      box-shadow: #6e2929;
      
    }
    #EditCompButton{
  
      cursor: pointer;
      outline: none;
      border: none;
      background-color: #210098;
      width: 220px;
      height: 50px;
      border-radius: 30px;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--text);
      
      box-shadow: #210098;
      
    }




